@import 'tailwindcss';

:root {
  --tint: hsl(31, 21%, 67%);
  --tint-strength: 40%;
  --semantic-tint-strength: 15%;

  --accent: hsl(226, 98%, 39%);
  --primary: hsl(19, 85%, 40%);
  --error: hsl(0, 85%, 55%);
  --warning: hsl(45, 100%, 45%);
  --success: hsl(120, 50%, 40%);

  --light: white;
  --dark: black;

  --color-background: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 3%),
    var(--tint) var(--tint-strength)
  );

  --color-surface: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 7%),
    var(--tint) var(--tint-strength)
  );

  --color-line: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 14%),
    var(--tint) var(--tint-strength)
  );

  --color-faint: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 25%),
    var(--tint) var(--tint-strength)
  );

  --color-diminished: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 40%),
    var(--tint) var(--tint-strength)
  );

  --color-muted: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 55%),
    var(--tint) var(--tint-strength)
  );

  --color-subdued: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 70%),
    var(--tint) var(--tint-strength)
  );

  --color-foreground: color-mix(
    in oklch,
    color-mix(in oklch, var(--light), var(--dark) 93.5%),
    var(--tint) var(--tint-strength)
  );

  --color-accent: color-mix(in oklch, var(--accent), var(--tint) var(--semantic-tint-strength));
  --color-primary: color-mix(in oklch, var(--primary), var(--tint) var(--semantic-tint-strength));
  --color-error: color-mix(in oklch, var(--error), var(--tint) var(--semantic-tint-strength));
  --color-warning: color-mix(in oklch, var(--warning), var(--tint) var(--semantic-tint-strength));
  --color-success: color-mix(in oklch, var(--success), var(--tint) var(--semantic-tint-strength));

  --site-container: 1216px;
  --site-container-narrow: 960px;
  --site-container-editorial: 768px;
  --nav-height: 3rem;
  --gutter: 1.25rem;
  --head: 2rem;
  --foot: 12rem;

  --button-height-small: 32px;
  --button-height-default: 40px;
  --button-height-large: 48px;

  --input-height: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: black;
    --dark: white;
  }
}

@media (min-width: theme(screens.lg)) {
  :root {
    --gutter: 2rem;
  }
}

@theme inline {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-line: var(--color-line);
  --color-faint: var(--color-faint);
  --color-diminished: var(--color-diminished);
  --color-muted: var(--color-muted);
  --color-subdued: var(--color-subdued);
  --color-foreground: var(--color-foreground);

  --color-accent: var(--color-accent);
  --color-primary: var(--color-primary);
  --color-error: var(--color-error);
  --color-warning: var(--color-warning);
  --color-success: var(--color-success);

  --spacing-nav-height: var(--nav-height);
  --spacing-gutter: var(--gutter);
  --spacing-site-container: var(--site-container);
  --spacing-site-container-narrow: var(--site-container-narrow);
  --spacing-site-container-editorial: var(--site-container-editorial);

  --spacing-head: var(--head);
  --spacing-foot: var(--foot);

  --spacing-input-height: var(--input-height);

  --spacing-button-height-small: var(--button-height-small);
  --spacing-button-height-default: var(--button-height-default);
  --spacing-button-height-large: var(--button-height-large);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Type Scale
*/

/* Lead */
.type-lead,
.type-lead-bold {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.type-lead {
  font-weight: 600;
}
.type-lead-bold {
  font-weight: 800;
}

/* Heading */
.type-heading,
.type-heading-bold {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.type-heading {
  font-weight: 500;
}
.type-heading-bold {
  font-weight: 700;
}

/* Subheading */
.type-subheading,
.type-subheading-bold {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.type-subheading {
  font-weight: 500;
}
.type-subheading-bold {
  font-weight: 700;
}

/* Paragraph */
.type-paragraph,
.type-paragraph-bold {
  font-size: 1rem;
  line-height: 1.5rem;
}
.type-paragraph {
  font-weight: 400;
}
.type-paragraph-bold {
  font-weight: 600;
}

/* Body */
.type-body,
.type-body-bold {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.type-body {
  font-weight: 400;
}
.type-body-bold {
  font-weight: 600;
}

/* Detail */
.type-detail,
.type-detail-bold {
  font-size: 0.75rem;
  line-height: 1rem;
}

.type-detail {
  font-weight: 400;
}
.type-detail-bold {
  font-weight: 600;
}

/*
Rich Text
*/

.rich-text {
  h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
  }

  ul,
  ol {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 1rem;
  }

  ol {
    list-style: decimal;
    list-style-position: outside;
    padding-left: 1rem;
  }

  a {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: opacity var(--transition-duration) ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  img {
    margin-top: 1rem;
  }
}
